# Generally ignore files with these prefixes
.*
_*

# Ignore directories
env/
tmp/

# Selectively ignore files in the cofig directory
config/*

!config/samples.csv
!config/annotations.csv
!config/config.yml

!config/ref/
config/ref/*
!config/ref/MeVChiTok.fa

# Selectively ignore files in the results directory
results/*
!results/variants
results/variants/*
!results/variants/variants.csv
!results/variants/filtered_variants.csv
!results/variants/genotyped_variants.csv
!results/variants/clustered_variants.csv
!results/notebooks

workflow/notebooks/*.png
workflow/notebooks/*.html
workflow/notebooks/*.csv
